<ion-header>
  <ion-toolbar color="primary">
    <ion-title> QR App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <!-- === Segments === -->
  <ion-segment [(ngModel)]="segment" mode="ios">
    <ion-segment-button value="scan">
      <ion-label>ScanQR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="generate">
      <ion-label>Generate QR</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- === Scan QR === -->
  @if (segment === 'scan') {
  <div>Scan</div>
  } @else {
  <!-- === Generate QR === -->
  <div class="segment">
    <div class="segment-content">

      <div id="qrImage">
        <div class="d-flex-center">
          <div class="d-flex-center qr-wrapper"></div>
        </div>
      </div>
    </div>
  </div>
  }
</ion-content>
