<ion-header>
  <ion-toolbar color="primary">
    <ion-title> QR App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <!-- === Segments === -->
  <ion-segment [(ngModel)]="segment" mode="ios">
    <ion-segment-button value="scan">
      <ion-label>ScanQR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="generate">
      <ion-label>Generate QR</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- === Scan QR === -->
  @if (segment === 'scan') {
  <div class="segment">
    <div class="segment-content">

      <img src="assets/images/scan-qr.webp" alt="">

      <h6 class="scan-label">Scan or select an image of a QR code to get its value</h6>

      <ion-row>
        <ion-col size="6">
          <ion-button class="submit" expand="block">
            Scan
            <ion-icon slot="end" name="scan-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="submit" expand="block">
            Select
            <ion-icon slot="end" name="image-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  } @else {
  <!-- === Generate QR === -->
  <div class="segment">
    <div class="segment-content">
      <div id="qrImage">
        <div class="d-flex-center">
          <div class="d-flex-center qr-wrapper">
            @if(qrText){
            <qr-code [value]="qrText" size="190" errorCorrectionLevel="M" />
            } @else {
            <img class="qr-placeholder" src="assets/images/qr.webp" alt="" />
            }
          </div>
        </div>
        <div class="ion-padding-top">{{qrText}}</div>
      </div>

      <ion-textarea
        label="Outline textarea"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="qrText"
        rows="4"
        [autoGrow]="true"
      ></ion-textarea>

      <!-- === Share QR === -->
      @if(qrText){
      <ion-button (click)="captureScreen()" class="submit ion-padding-top">
        Share
        <ion-icon slot="end" name="share-social-outline"></ion-icon>
      </ion-button>
      }
    </div>
  </div>
  }
</ion-content>
